<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @project.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<div>
	<% @tasks.each do |task| %>
		<p>
			<%= task.title %><br>
			<%= task.user %>
		</p>	
	<% end %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
